/* Variables 
	==================== */
:root {
  --font-size-small: 0.9rem;
  --font-size-medium: 1rem;
  --font-size-large: 2rem;
  --font-size-xlarge: 5rem;
  --holberton-red: #ff6565;
  --purple-smile: #C271FF;
  --text-color-white: #ffffff;
}

body {
  font-family: Source Sans Pro;
}

/* Header 
	==================== */

.jumbotron {
  background-image: url("./images/pic_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  width: 100%;
}

h1.hero-title {
  color: var(--text-color-white);
  font-size: var(--font-size-xlarge);
  font-weight: bold;
  word-spacing: 1.5rem;
}

img.smile-school-logo {
  height: 2rem;
}

.hero-title::after {
  content: "SMILES GRIN LAUGH";
  display: block;
  font-size: var(--font-size-small);
  word-spacing: 2.5rem;
  text-align: center;
}

button.btn {
  background-color: var(--purple-smile);
  border: none;
  border-radius: 22px;
  margin: 1.5rem auto;
  opacity: 0.9;
  filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.5));
  font-size: var(--font-size-small);
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  font-style: normal;
  font-weight: 800;
  text-align: center;
}

.learn-text {
  color: var(--purple-smile);
}

img.circle-thumb {
  width: 9rem;
}

.carousel{
	background-color: var(--purple-smile);
}

